<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres-main</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <property name="connection.pool_size">4</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="current_session_context_class">thread</property>

        <mapping class="com.bilalov.hibernate.entities.Customer"/>
        <mapping class="com.bilalov.hibernate.entities.Manufacturer"/>
        <mapping class="com.bilalov.hibernate.entities.Product"/>
        <mapping class="com.bilalov.hibernate.entities.BigItem"/>

<!--        <mapping class="com.bilalov.hibernate.Catalog"/>-->
<!--        <mapping class="com.bilalov.hibernate.entities.Book"/>-->
<!--        <mapping class="com.bilalov.hibernate.entities.Reader"/>-->
<!--        <mapping class="com.bilalov.hibernate.entities.Author"/>-->



    </session-factory>
</hibernate-configuration>