<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">


<!--    <bean id="blackAndWhiteRoll" class="ram.bilal.spring.start.BlackAndWhiteRoll"/>-->

<!--    <bean id="camera" class="ram.bilal.spring.start.Camera">-->
<!--        <constructor-arg ref="blackAndWhiteRoll"/>-->
<!--    </bean>-->

<!--    <context:component-scan base-package="ram.bilal.spring"/>-->

</beans>